body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.main_fields {
  width: 400px;
  background-color: #ddf;
  float:left;
}

.main_fields label {
  float: left;
  width: 140px;
}

.main_fields input {
  float: left;
}
.main_fields fieldset {
  margin: 5px;
}

.main_fields p {
  width:400px;
  height:20px;
  margin:5px;
}

h1 {
  font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #6D929B;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

th {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #6D929B;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 6px 6px 6px;
  background: #CAE8EA
}

tr {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #6D929B;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding: 6px 6px 6px 12px;
}

.main_fields div {
  margin:5px;
}

.location_selector {
  width: 500px;
  float:left;
  margin:5px;
}

.location_selector label {
  float: left;
  width: 90px;
}

.location_selector input[type="text"] {
  float: left;
  width: 100px;
}

.location_selector input[type="button"] {
  float: right;
}

#results {
  margin-left: auto;
  margin-right: auto;
}

.location_selector div.field {
  width:200px;
  height:25px;
  float:left;
}

#map {
  width: 500px;
  height: 500px;
}

.hidden {
  display: none;
}

p.errors {
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: red;
  letter-spacing: 2px;
  text-align: center;
}

p.notice {
	font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: green;
  letter-spacing: 2px;
  text-align: center;
}