input.button {
  border: 0;
}
a.button {
  display: block;
}

.button {
  text-indent: -9999px;
  overflow: hidden;
}

/* Back to results */

.back_button {	
  background: url('/images/buttons/back_to_results.gif');
  width: 139px;
  height: 34px;
}

.back_container {
  display: block;
  background: url('/images/buttons/back_container.gif') no-repeat;
  padding: 4px 0 0 4px;
  margin-left:10px;
  width: 158px;
  height: 52px;
  float: right;
}

/* Submit */

.submit_button {
  background: url('/images/buttons/submit.gif');
  width: 112px;
  height: 34px;
}

.submit_container {
  display: block;
  background: url('/images/buttons/submit_button_container.gif');
  padding: 3px 0 0 3px;
  width: 120px;
  height: 46px;
  float: right;
}

/* Search */

.search_button {
  background: url('/images/buttons/search.gif');
  width: 158px;
  height: 54px;
}

.search_container {
  display: block;
  background: url('/images/buttons/search_button_container.gif');
  padding: 4px 0 0 4px;
  width: 177px;
  height: 73px;
  float: right;
  position: relative;
  right: -19px;
  margin-top: 8px;
}

/* Where can I go? */

.where_can_i_go_container {
  display: block;
  background: url('/images/buttons/where_can_i_go_container.gif');
  padding: 7px 0 0 7px;
  width: 245px;
  height: 66px;
  float: right;
  position: relative;
  right: -19px;
  margin-top: 3px;
}

.where_can_i_go_button {
  background: url('/images/buttons/where_can_i_go.gif');
  width: 219px;
  height: 54px;
}

/* Refine Search */

.refine_search_container {
  display: block;
  background: url('/images/buttons/refine_search_container.gif');
  padding: 5px 0 0 5px;
  width: 154px;
  height: 48px;
  float: right;
  position: relative;
  right: -13px;
  margin-top: 3px;
}

.refine_search_button {
  background: url('/images/buttons/refine_search.gif');
  width: 139px;
  height: 34px;
}
