body{
	background: #fff url('/images/main-bg.png') repeat-x top center;
	font-family: Helvetica, Arial, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	color: #999;
}

a:link, a:active, a:visited{
	color: #FD36A3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#header{
	margin-top: 25px;
	color: #fff;
	padding:0;
	background: url('/images/slogan-bg.jpg') no-repeat top right;
}

#header h2{
	color: #fff;
	font-size: 20px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	margin-top:5px;
}

#logo{
	padding: 0;
	margin: 0;
}

#search{
	margin-left: 20px;
	padding: 0px 5px 0px 5px;
	border-left: 1px solid #61c6f6;
	margin-top:60px;
}

#explore{
	margin-left: 20px;
	padding: 0px 5px 0px 10px;
	border-left: 1px solid #61c6f6;
	margin-top:60px;
}


#add{
	padding: 5px 0px 0px 10px;
	border-left: 1px solid #61c6f6;
	/*height: 100px;*/
	margin-top:60px;
}

#search-field{
	border: 1px solid #dadada;
	font-size: 12px;
	color: #666;
	padding:10px 5px 10px 3px;
	width: 195px;
	margin-bottom:8px;
}


#container{
	margin-top: 50px;
}


#map{
	width:520px;
	height:400px;
	background-color:#efefef;
    border: solid
}

#content{
	font-size: 14px;
    line-height: 1.75em;
}

#footer{
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding: 20px 0 20px 0;
}

#footer ul{
	padding: 0;
	margin:0;
	list-style: none;
	display: inline;
}

#footer ul li{
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #dadada;
}