* {
    margin: 0px;
    padding: 0px;
    voice-family: female; 
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

body {
    font-family: Trebuchet, arial;
    font-size: 62.5%;
}

.outer_wrapper {
  text-align: center;
  width: 100%;
}
.inner_wrapper {
  margin: 20px auto 0 auto;
  width: 960px;
  height: 850px;
}

.header { width: 960px; height: 235px; background-image: url(/images/backgrounds/header_bg.jpg); position: relative; }
.header .logo_link { position: absolute; top: 26px; left: 30px; width: 0px; padding-left: 199px; height: 146px; overflow: hidden; }
.header h2 { width: 0px; overflow: hidden; speak: normal; }
.header .main_nav { position: absolute; width: 100%; bottom: 0px; left: 0px; }

.main_nav .bar { width: 100%; height: 15px; background-image: url(/images/main_nav/bar.gif); margin-top: -1px; }
.main_nav ul { list-style-type: none; height: 40px; margin-left: 255px; }
.main_nav ul li { float: left; display: block; height: 40px; margin-right: -40px; }
.main_nav ul li a { display: block; padding-top: 40px; overflow: hidden; height: 0px; margin: 0 40px; }
.main_nav ul li.home { background-image: url(/images/main_nav/home.png); width: 143px; }
.main_nav ul li.add_facility { background-image: url(/images/main_nav/add_a_facility.png); width: 228px; }
.main_nav ul li.add_gap { background-image: url(/images/main_nav/add_a_gap.png); width: 194px; }

.main_nav ul li.home_active { background-image: url(/images/main_nav/home_active.png); }
.main_nav ul li.add_facility_active { background-image: url(/images/main_nav/add_facility_active.png); }
.main_nav ul li.add_gap_active { background-image: url(/images/main_nav/add_a_gap_active.png); }

.main   { width: 960px; height: 570px; background-image: url(/images/backgrounds/main_bg.jpg); }

.inner_wrapper .left,
.inner_wrapper .right {
  width: 310px;
  float: left;
  text-align: left;
}

.inner_wrapper .left {
  padding: 0 65px 0 55px;
}

form {
  color: #58595B;
}

form label {
  font-size: 1.3em;
  display: inline-block;
  margin: 10px 0 0 0;
}

.inner_wrapper .left input,
.inner_wrapper .left textarea {
  width: 100%;
}

input, textarea {
  border: 2px solid #D1D2D4;
  padding: 5px;
}

.main_inner {
  width: 845px;
  height: 507px;
  margin: 0 auto;
  background: url('/images/backgrounds/main_inner.png');
  padding-top: 50px;
}


p.with_checkboxes label {
  float: left;
  width: 120px;
}

p.with_checkboxes input {
  width: auto !important;
  margin: 10px 0 0;
}


.main_inner h2 {
  color: #1C75BC;
}