<div class="main_inner clearfix about_us">

  <div class="left">
    <h1 class="text_replacement about_us">About Us</h1>
		<p>Weedayout is a map of accessible toilets, created by the people who know best: you.</p>
		<p>For disabled people, having access to a good quality toilet can mean the difference between a fun day (or night) out and being stuck in the house. A good toilet is a passport to freedom.</p>
  </div><!-- /.left -->

  <div class="right">
		<p>We know there are lots of good accessible toilets out there, but access to information is as important as physical access. You need to know where they are. It's about more than official standards; it's about your experience of using loos. You can search for a toilet, add one to the map, or comment on an existing one.</p>
		<p>To find out more, please contact <%= mail_to "rosiehmcintosh@hotmail.com", "Rosie McIntosh" %></p>
		<p><%= link_to "Weedayout Twitter", "http://twitter.com/weedayout" %></p>
  </div>
</div>
