<div class="main_inner clearfix about_us">

  <div class="left">
    <h1 class="text_replacement about_us">About Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu velit ipsum. Morbi nisl tortor, faucibus condimentum porttitor vel, porta quis libero. Etiam tellus lorem, pretium id imperdiet quis, interdum nec mi. Integer at ligula sit amet nulla adipiscing blandit sit amet vel nulla. Aliquam vel fringilla lorem. Proin ligula enim, ornare sed mollis eget, mollis ac sapien. Nullam rutrum, libero at consequat condimentum, magna metus vulputate quam, sed dapibus libero libero sit amet libero. Etiam rutrum hendrerit justo, quis viverra enim blandit et. Vestibulum vel eleifend diam. Maecenas euismod est ac nulla tincidunt at imperdiet nisl vulputate.</p>
  </div><!-- /.left -->

  <div class="right">
		<p>Nam rutrum adipiscing neque, nec pretium leo consequat nec. Aliquam erat volutpat. Suspendisse pharetra tortor non ante consectetur in luctus orci tincidunt. Phasellus porttitor ligula sed lorem viverra sodales. Aenean placerat commodo elit a aliquet. Phasellus ut velit nec ligula imperdiet luctus tempus quis risus. Mauris luctus suscipit vehicula. Morbi blandit tortor rutrum elit feugiat dictum. Donec eget commodo erat. Cras venenatis erat non velit mollis ultrices. Donec vitae libero sed sem tempus tincidunt et a ante. Nullam vehicula laoreet hendrerit. Quisque gravida fermentum mauris, quis posuere nulla rhoncus et. Nulla gravida, sapien at luctus porta, lorem dolor pellentesque leo, ac convallis mi velit eu elit.</p>
  </div>
</div>
