<div class="main_inner clearfix">
	<div class="flash_messages">
		<span class="notice"><%= flash[:notice] %></span>
		<span class="errors"><%= flash[:errors] %></span>
	</div>
	
  <%= render 'form', :back_text => 'Back Home', :back_link => root_path %>

  <script type="text/javascript">
	//<![CDATA[
    google.load("maps", "2");

    function initialize() {
      var map = new google.maps.Map2(document.getElementById("map"));
      var geocoder = new GClientGeocoder();

      var point = new GLatLng(53, -1.5);
      map.setCenter(point, 6);

      var myIcon = new GIcon(G_DEFAULT_ICON, "http://www.google.com/mapfiles/marker.png");

      var marker = new GMarker(point, {draggable:true, icon:myIcon, title : "Place this marker to your location"});

      var mapControl = new GMapTypeControl();
      map.addControl(mapControl);
      map.addControl(new GLargeMapControl());

      GEvent.addListener(marker, 'dragend', function() {
        $('#toilet_lat').val(marker.getLatLng().lat());
        $('#toilet_long').val(marker.getLatLng().lng());
      });

      $('#toilet_address').bind('blur', function(){
        if($(this).val()){
          geocoder.getLocations($(this).val()+ ", UK", addToMap);
        }
      });

      function addToMap(response) {
        // Retrieve the object
        place = response.Placemark[0];

        // Retrieve the latitude and longitude
        point = new GLatLng(place.Point.coordinates[1],
                            place.Point.coordinates[0]);

        // Center the map on this point
        map.setCenter(point, 13);

        // Create a marker
        marker = new GMarker(point, {draggable:true});

        // Add the marker to map
        map.clearOverlays();
        map.addOverlay(marker);

        $('#toilet_lat').val(marker.getLatLng().lat());
        $('#toilet_long').val(marker.getLatLng().lng());

        GEvent.addListener(marker, 'dragend', function() {
          $('#toilet_lat').val(marker.getLatLng().lat());
          $('#toilet_long').val(marker.getLatLng().lng());
        });
			}
			
			$('form#new_toilet').submit(function(){	
				if($('#toilet_address').val()){
	        geocoder.getLocations($('#toilet_address').val()+ ", UK", submitLatLong);
					return false;
				}
			});

			function submitLatLong(response) {
				// Retrieve the object
	      place = response.Placemark[0];

				// Retrieve the latitude and longitude
	      point = new GLatLng(place.Point.coordinates[1],
	                           place.Point.coordinates[0]);
	
				if($('#toilet_lat').val()){
					if (($('#toilet_lat').val()) == point.lat()){
						$('#toilet_lat').val(point.lat());
					}
					else if (($('#toilet_lat').val()) != point.lat()){
						$('#toilet_lat').val();
					}
				}
				else {
					$('#toilet_lat').val(point.lat());
				}
				
				
				if($('#toilet_long').val()){
					if (($('#toilet_long').val()) == point.lng()){
						$('#toilet_long').val(point.lng());
					}
					else if (($('#toilet_long').val()) != point.lng()){
						$('#toilet_long').val();
					}
				}
				else {
					$('#toilet_long').val(point.lng());
				}

				document.forms[0].submit();
	    }
		}
		
    google.setOnLoadCallback(initialize);
		//]]>
	  </script>
</div>