<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w2.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Wee Day Out</title>
  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAlyeJljQH98VMTkAORPPxhxQDNUKtWYO0YNsBQklWEm0Tg_LWZBQxMphApqQmqkL90w6Yq0GXs3E6Xw" type="text/javascript">
  </script>
  <%= stylesheet_link_tag 'grid' %>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("jquery", "1.3.2");</script>

  <style type="text/css" media="screen">

      body {
          margin: 20px 0 0 0;
          background: #ffffff url(images/bg.gif) repeat-x;
      }

      p {
      /*font:60px/100px Helvetica;*/
          color: #000; /*text-align: center;*/
      /*border: 1px solid #000;*/
          margin: 0 0 20px 0;
      }

  </style>


  <%= yield %>

  </body>
</html>
