<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Toilets: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAlyeJljQH98VMTkAORPPxhxQDNUKtWYO0YNsBQklWEm0Tg_LWZBQxMphApqQmqkL90w6Yq0GXs3E6Xw" type="text/javascript">
  </script>
  <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAAlyeJljQH98VMTkAORPPxhxQDNUKtWYO0YNsBQklWEm0Tg_LWZBQxMphApqQmqkL90w6Yq0GXs3E6Xw"
    type="text/javascript"></script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
